.profile_hr {
    max-width: 600px;
    height: 1px;
    border: none;
    color: #d9d9d9;
    background-color: #d9d9d9;
    margin-top: 35px;
}
.profile_title {font-size:30px}
.profile_element_container {margin: 20px 0}
.user_info_container {text-align: center; margin-bottom:20px}
.user_info_detail_table {
    font-size: 20px;
    font-family: arial, roboto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    border: 1px solid #0000001c;
    border-radius: 7px;
    padding: 15px 30px;
}
.user_info_detail_value {padding: 0px 20px;}
.brd_btm {border-bottom: 1px solid #0000001c;}
.fee_container {
    text-align: center;
}
.fee_hint {
    font-size: 15px;
    color: #040404c4;
    margin-top: 2px;
}
.fee_selector {
    font-size: 20px;
    margin: 10px;
}
.payment_methods_container {text-align: center;}
.cards_table {
    margin-left:auto;
    margin-right:auto;
    margin-top: 15px;
}
.card_delete {
    border: solid 0px;
    background-color: white;
    font-size: 30px;
    color:black;
}
.card_delete_icon {cursor: pointer;}
.card_add_icon {cursor: pointer;}
.card_set_default {
    border: solid 0px;
    background-color: white;
    font-size: 10px;
    cursor: pointer;
    color:black;
    text-decoration: underline;
}
.card_is_default {
    color: #00449ba6;
    font-size: 10px;
    font-family: MrsEaves, arial, helvetica;
    font-weight: bold;
    padding-left: 10px;

}
.card_add_submit {
    font-family: bebas;
    margin-top: 20px;
    border-radius: 4px;
    color: black;
    border: 1px solid rgb(0, 0, 0);
    background-color: white;
    font-size: 1.4em;
    padding: 3px 30px;
    cursor:pointer;
}
.card-submit-container {text-align:center}
.card_last_digits {
    color: grey;
    padding-left: 20px;
}
#card_add_container {
    display: none;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #00000091;
    padding: 30px;
    border-radius: 5px;
}

.inactive_fee {background-color: #ff000059;}
.powered_by_stripe_container {
    text-align:center;
    margin-bottom: 200px;
}
