#table_container {
    text-align: center;
    display: flex;
    align-items: center;
}
#table_vertical {
    margin: 0 auto;
    width: 100vw;
    max-width: 1080px;
    border-collapse: collapse;
}
.table_day_row {
    margin-top: 10px;
    background-color: grey;
}
.table_session_row {
    text-align: center;
    height: 120px
}
.table_session_row_td_left {width: 10%;}
.table_session_row_td_mid {width: 81.5%;}
.table_session_row_td_right {width: 8.5%;}
.table_session_row_checkbox {}
.table_session_row_type {}
.table_session_row_assistants {}