{% load static %}
<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <link rel='stylesheet' href='{% static "css/style.css" %}'>
    <link rel='stylesheet' href='{% static "css/stripe.css" %}'>
    <link rel='stylesheet' href='{% static "css/table_vertical.css" %}'>
    <link rel='stylesheet' href='{% static "css/session_templates.css" %}'>
    <link rel='stylesheet' href='{% static "css/checkbox.css" %}'>
    <link rel='stylesheet' href='{% static "css/checkbox_component.css" %}'>
    <link rel='stylesheet' href='{% static "css/fontawesome_all.css" %}'>
    <link rel='stylesheet' href='{% static "css/fontawesome.min.css" %}'>
    <link rel='stylesheet' href='{% static "css/modal.css" %}'>
    <link rel='shortcut icon' type='image/png' href='{% static "favicon.ico" %}' />
    <script src="{% static 'js/lib/axios.min.js' %}"></script>
    <script src="{% static 'js/lib/buefy.min.js' %}"></script>
    <script src="{% static 'js/lib/vue.js' %}"></script>
    <script src="{% static 'js/lib/jquery.min.js' %}"></script>
    <script src="https://js.stripe.com/v3/"></script>
    <title>CrossBox Palau - Reservas</title>
  </head>
  <body>
    <div class='header'>
      <div class='logo'>
        &nbsp;&nbsp;&nbsp;&nbsp;<a href="/"><img height='110' src='{% static "images/logo.png" %}'></a>
      </div>
      <div class='profile'>
        <span class='u-margin-left'>{{ user.username }} (<a href='{% url "logout" %}'>Logout</a>)</span>
      </div>
      <div class='profile'>
        <span class='u-margin-left'><a href='{% url "profile" %}'>Perfil</a></span>
      </div>
      {% if user.is_staff %}
        <div class='profile'>
          <span class='u-margin-left'><a href='{% url "admin:index" %}'>Administración</a></span>
        </div>
        <div class='profile'>
          <span class='u-margin-left'><a href='{% url "session-template" %}'>Configurar Sesiones</a></span>
        </div>
      {% endif %}
    </div>
    <div class='body'>
      {% block content %}
      {% endblock content %}
    </div>
  </body> 
</html>
