{% extends 'base.html' %}
{% load static %}
{% block content %}
<div id="table_container">
  <class id="table_vertical">
    <div class="payment_methods_container">
      <div class="payment_methods_title">
        Mis métodos de pago
      </div>
      <div class="cards_container">
        {% for user_card in user_cards|dictsortreversed:"default" %}
          <div class="card">
            Tarjeta: ****{{ user_card.last_digits }} {% if user_card.default %} - Método por defecto {% endif %}
          </div>
        {% endfor %}
      </div>
    </div>
    <form action="{% url 'add_payment_method' %}" method="post" id="payment-form">
      <div class="form-row">
        <label for="card-element">
          Credit or debit card
        </label>
        <div id="card-element">
          <!-- A Stripe Element will be inserted here. -->
        </div>

        <!-- Used to display form errors. -->
        <div id="card-errors" role="alert"></div>
      </div>

      <button>Submit Payment</button>
    </form>
  </div>
</div>
<script src="{% static 'js/custom/profile.js' %}"></script>
{% endblock content %}
