{% extends 'base.html' %}
{% load static %}
{% block content %}
<div id="table_vertical">
  <div class="user_info_container">
    <div class="profile_title">Mi Información</div>
    <table class="user_info_detail_table">
      <tr>
        <td class="brd_btm">Usuario</td><td class="brd_btm user_info_detail_value">{{ user.username }}</td>
      </tr>
      <tr>
        <td class="brd_btm">Wods</td><td class="brd_btm user_info_detail_value">{% if user.subscriber.wods < 25 %}{{ user.subscriber.wods }}{% else %}∞{% endif %}</td>
      </tr>
      <tr>
        <td class="brd_btm">Nombre</td><td class="brd_btm user_info_detail_value">{{ user.first_name }}</td>
      </tr>
      <tr>
        <td class="brd_btm">Apellidos</td><td class="brd_btm user_info_detail_value">{{ user.last_name }}</td>
      </tr>
      <tr>
        <td class="brd_btm">Email</td><td class="brd_btm user_info_detail_value">{{ user.email }}</td>
      </tr>
      <tr>
        <td class="brd_btm">Próximo pago</td><td class="brd_btm user_info_detail_value">{% if user.subscriber.next_billing_cycle_datetime %}{{ user.subscriber.next_billing_cycle_datetime }}{% endif %}</td>
      </tr>
      <tr>
        <td class="brd_btm">Último pago</td><td class="brd_btm user_info_detail_value">{% if user.subscriber.last_payment_datetime %}{{ user.subscriber.last_payment_datetime }}{% endif %}</td>
      </tr>
    </table>
  </div>
  <hr class="profile_hr">
  <div class="payment_methods_container profile_element_container">
    <div class="profile_title">Mis métodos de pago</div>
    <table class="cards_table">
      {% for user_card in user_cards|dictsortreversed:"default" %}
        <tr>
          <td>
            <form action="{% url 'delete_card' %}" method="post" onsubmit="return confirm('Vas a eliminar un método de pago. ¿Estás seguro?');">
              <input type="hidden" id="stripe_card_id" name="stripe_card_id" value="{{ user_card.stripe_card_id }}">
              {% if not user_card.default %}
                <button class="card_delete" type="submit">
                  <i class="fa fa-trash card_delete_icon"></i>
                </button>
              {% endif %}
            </form>
          </td>
          <td class="card_last_digits">Tarjeta: ****{{ user_card.last_digits }}</td>
          <td>
            {% if user_card.default %}
              <span class="card_is_default">Método por defecto</span>
            {% else %}
              <form action="{% url 'set_default_payment_method' %}" method="post" onsubmit="return confirm('Vas a cambiar la tarjeta por defecto. ¿Estás seguro?');">
                <input type="hidden" id="stripe_card_id" name="stripe_card_id" value="{{ user_card.stripe_card_id }}">
                <button class="card_set_default" type="submit">Usar esta tarjeta por defecto</button>
              </form>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </table>
    <br>
    <a href="#card_add_container"><img src="{% static 'images/connect_with_stripe.png' %}" class="card_show_add_form"></a>
  </div>
  <div id="card_add_container" class="profile_element_container">
    <form action="{% url 'add_payment_method' %}" method="post" id="payment-form">
      <div class="form-row">
        <div id="card-element">
          <!-- A Stripe Element will be inserted here. -->
        </div>
        <!-- Used to display form errors. -->
        <div id="card-errors" role="alert"></div>
      </div>
      <div class="card-submit-container">
        <button class="card_add_submit">Añadir</button>
      </div>
    </form>
  </div>
  <div class="powered_by_stripe_container">
    <img src="{% static 'images/powered_by_stripe.svg' %}"/>
  </div>
  <hr class="profile_hr">
  <div class="fee_container profile_element_container">
    <div class="profile_title">Mi Cuota</div>
    <form action="{% url 'change_fee' %}" method="post" onsubmit="return confirm('Vas a cambiar tu cuota. ¿Estás seguro?');" id="fee_form">
      <select
        name="fee"
        id="fee_selector"
        class="fee_selector{% if not subscriber_fee_active %} inactive_fee{% endif %}{% if user_has_morning_fee %} hidden_select{% endif %}"
      >
        {% for fee in fees %}
          {% for fee_pk, fee_option in fee.items %}
            {{fee}}
            <option value="{{fee_pk}}" {% if fee_option.selected %}selected="true"{%endif%}>{{fee_option.label}}</option>
          {% endfor %}
        {% endfor %}
      </select>
      <select
        name="fee_morning"
        id="fee_selector_morning"
        class="fee_selector{% if not subscriber_fee_active %} inactive_fee{% endif %}{% if not user_has_morning_fee %} hidden_select{% endif %}"
      >
        {% for fee in fees_morning %}
          {% for fee_pk, fee_option in fee.items %}
            {{fee}}
            <option value="{{fee_pk}}" {% if fee_option.selected %}selected="true"{%endif%}>{{fee_option.label}}</option>
          {% endfor %}
        {% endfor %}
      </select>
      {% if user.subscriber.fee and not subscriber_fee_active %}
        <br>
        <span style="color:red">La cuota que tienes seleccionada ha sido deshabilitada.<br>Se te mantendrá hasta que se realice el próximo pago pero después tendrás que seleccionar otra cuota.<br>Si lo prefieres puedes cambiar ya a otra cuota.</span>
        <br>
      {% endif %}
      <br>
      <input type="checkbox" name="fee_morning_checkbox" onchange="change_morning_fees(this)"{% if user_has_morning_fee %} checked{% endif %}><span>Solo cuotas de mañana</span>
      <br>
      <button {% if not user_cards %}style="opacity:0.5;cursor: not-allowed;"{%endif%} class="card_add_submit" onclick="this.form.submit()" {% if not user_cards %}disabled{%endif%}>Activar cuota seleccionada</button>
      {% if not user_cards %}
      <p><span style="color:red">*</span> Antes de subscribirte a una cuota tienes que introducir un método de pago</p>{%endif%}
    </form>
  </div>
</div>
<script src="{% static 'js/custom/.env.js' %}"></script>
<script src="{% static 'js/custom/profile.js' %}"></script>
{% endblock content %}
