{% extends 'base.html' %}
{% load static %}
{% block content %}
<div id="table_vertical">
  <div class="user_info_container">
    <div class="profile_title">Mi Información</div>
    <table class="user_info_detail_table">
      <tr>
        <td class="brd_btm">Usuario</td><td class="brd_btm user_info_detail_value">{{ user.username }}</td>
      </tr>
      <tr>
        <td class="brd_btm">Wods</td><td class="brd_btm user_info_detail_value">{{ user.subscriber.wods }}</td>
      </tr>
      <tr>
        <td class="brd_btm">Nombre</td><td class="brd_btm user_info_detail_value">{{ user.first_name }}</td>
      </tr>
      <tr>
        <td class="brd_btm">Apellidos</td><td class="brd_btm user_info_detail_value">{{ user.last_name }}</td>
      </tr>
      <tr>
        <td class="brd_btm">Email</td><td class="brd_btm user_info_detail_value">{{ user.email }}</td>
      </tr>
      <tr>
        <td class="brd_btm">Próximo pago</td><td class="brd_btm user_info_detail_value">{% if user.subscriber.next_billing_cycle_datetime %}{{ user.subscriber.next_billing_cycle_datetime }}{% endif %}</td>
      </tr>
      <tr>
        <td class="brd_btm">Último pago</td><td class="brd_btm user_info_detail_value">{% if user.subscriber.last_payment_datetime %}{{ user.subscriber.last_payment_datetime }}{% endif %}</td>
      </tr>
    </table>
  </div>
  <hr class="profile_hr">
  <div class="fee_container profile_element_container">
    <div class="profile_title">Mi Cuota</div>
    <form action="{% url 'change_fee' %}" method="post">
      <select name="fee" class="fee_selector">
        {% for fee in fees %}
          {% for fee_pk, fee_option in fee.items %}
            {{fee}}
            <option value="{{fee_pk}}" {% if fee_option.selected %}selected="true"{%endif%}>{{fee_option.label}}</option>
          {% endfor %}
        {% endfor %}
      </select>
      <br>
      <input type="checkbox" id="buy_immediately" name="buy_immediately" value="true">
      <label for="buy_immediately">
        Canjeo rápido <span style="color:red">*</span>
        <div class="buy_immediately"><span style="color:red">*</span> Si se marca esta casilla se entregarán los wods y se realizará el pago al momento, sin esperar a principio de mes, provocando que los próximos pagos se realicen también este mismo día en los siguientes meses. Se recomienda no marcar esta casilla y que se realice el pago mensual y la entrega de wods el día 1 de cada mes.</div>
      </label>
      <button {% if not user_cards %}style="opacity:0.5"{%endif%} class="card_add_submit" onclick="this.form.submit()" {% if not user_cards %}disabled{%endif%}>Activar cuota seleccionada</button>
      {% if not user_cards %}<br><span style="color:red">*</span> Antes de subscribirte a una cuota tienes que introducir un método de pago{%endif%}
    </form>
  </div>
  <hr class="profile_hr">
  <div class="payment_methods_container profile_element_container">
    <div class="profile_title">Mis métodos de pago</div>
    <table class="cards_table">
      {% for user_card in user_cards|dictsortreversed:"default" %}
        <tr>
          <td>
            <form action="{% url 'delete_card' %}" method="post">
              <input type="hidden" id="stripe_card_id" name="stripe_card_id" value="{{ user_card.stripe_card_id }}">
              <button class="card_delete" type="submit">
                <i class="fa fa-trash card_delete_icon"></i>
              </button>
            </form>
          </td>
          <td class="card_last_digits">Tarjeta: ****{{ user_card.last_digits }}</td>
          <td>
            {% if user_card.default %}
              <span class="card_is_default">Método por defecto</span>
            {% else %}
              <form action="{% url 'set_default_payment_method' %}" method="post">
                <input type="hidden" id="stripe_card_id" name="stripe_card_id" value="{{ user_card.stripe_card_id }}">
                <button class="card_set_default" type="submit">Usar esta tarjeta por defecto</button>
              </form>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </table>
    <a href="#card_add_container"><button class="card_add_submit card_show_add_form">Añadir método de pago</button></a>
  </div>
  <div id="card_add_container" class="profile_element_container">
    <form action="{% url 'add_payment_method' %}" method="post" id="payment-form">
      <div class="form-row">
        <div id="card-element">
          <!-- A Stripe Element will be inserted here. -->
        </div>
        <!-- Used to display form errors. -->
        <div id="card-errors" role="alert"></div>
      </div>
      <div class="card-submit-container">
        <button class="card_add_submit">Añadir</button>
      </div>
    </form>
  </div>
</div>
<script src="{% static 'js/custom/profile.js' %}"></script>
{% endblock content %}
