{% extends 'base.html' %}
{% block content %}
  <div class='template_session_title'>
    <span>Configurador de Sesiones</span>
  </div>
  <div id="container">
    <div class='week_template_select_template_container'>
      <form action="{% url 'session-template-switch' %}" method="post">
        <input type="hidden" id="week_template" name="week_template" value="{{ current_week_template }}">
        <div class="">
          <div><span>Plantilla:</span></div>
          <select name="week_template" onchange="this.form.submit()">
            {% for week_template in week_templates %}
              <option value="{{week_template.pk}}" {% if week_template.pk == current_week_template %}selected="true"{%else%}{%endif%}>{{week_template.name}}</option>
            {% endfor %}
          </select>
        </div>
      </form>
    </div>
    <div class='week_template_div'>
      <table class="week_template_table">
        <thead>
          <tr>
            <th>Día</th>
            {% for h in hours %}
              <th>{{ h }}</th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
        {% for day_row in days %}
          <tr>
            <td>{{ day_row.0 }}</td>
            {% for day in day_row|slice:"1:" %}
              <td class="{% if not day.session %}template_session_not_marked{% else %}template_session_marked{% endif %}" data-title='{{ day.hour_title }}'>
                <form action="{% if day.session %}{% url 'session-template-delete' %}{% else %}{% url 'session-template-create' %}{% endif %}" method="post">
                  <input type="hidden" id="session" name="session" value="{{ day.session }}">
                  <input type="hidden" id="day" name="day" value="{{ day.day }}">
                  <input type="hidden" id="hour" name="hour" value="{{ day.hour }}">
                  <input type="hidden" id="week_template" name="week_template" value="{{ current_week_template }}">
                  <select id="capacity_limit" name="capacity_limit">
                    {% for capacity_limit in capacity_limits %}
                      <option value="{{ capacity_limit.pk }}" {% if capacity_limit.pk == day.capacity_limit %}selected="true"{%else%}{%endif%}>{{ capacity_limit }}</option>
                    {% endfor %}
                  </select>
                  <br>
                  <button class="reserva_submit {% if not day.session %}template_session_not_marked{% else %}template_session_marked{% endif %}" type="submit">
                    <i class="fa {% if day.session %}fa-check{% else %}fa-plus{% endif %}"></i>
                  </button>
                </form>
              </td>
            {% endfor %}
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
    <form action="{% url 'generate-sessions' %}" method="post">
      <input type="hidden" id="week_template" name="week_template" value="{{ current_week_template }}">
      <div class="apply_sessions_to_week_title"><span>Generar sesiones:</span></div>
      <div class="apply_sessions_to_week_container">
        <div class="apply_sessions_to_week_filter">
          <div><span>Pista:</span></div>
          <select id="track" name="track">
            {% for track in tracks %}
              <option value="{{ track.pk }}" {% if track.pk == current_track %}selected="true"{%else%}{%endif%}>{{ track }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="apply_sessions_to_week_filter">
          <div><span>Semana:</span></div>
          <select id="page" name="page">
            {% for page, week_label in weeks.items %}
              <option value="{{ page }}">{{ week_label }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="apply_sessions_to_week_filter"><!-- unused --></div>
      </div>
      <div class="apply_sessions_to_week_submit">
        <input type="submit" value="Generar">
      </div>
    </form>
  </div>
{% endblock content %}
