{% extends 'login_base.html' %}

{% block title %}Forgot Your Password?{% endblock %}

{% block user_form %}
  <h1>¿No recuerdas tu contaseña?</h1>
  <p>Escribe tu email y te enviaremos instrucciones para reestablecer tu contraseña.</p>
  <style>
    #id_email {
      font-size: 1em;
      border: 1px solid #e2e2e2;
      padding: var(--spacing);
      margin: 0;
      border-radius: 0;
      display: block;
      margin-bottom: 15px;
    }
  </style>
  <form method="POST" class='c-login__form'>
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class='c-login__button c-recovery__button'>Envíame instrucciones</button>
  </form>
  <div class="register_or_login">
    <a href="{% url 'login' %}"><span>Volver al Login</span></a>
  </div>
{% endblock %}
